.min-h-screen.bg-gradient-to-br.from-blue-50.to-indigo-100.py-8.px-4
  .max-w-2xl.mx-auto
    / Game Stats Header
    #game-stats
      = render "games/stats", game: @game
    
    / Round Content
    #round-content
      = render "round_display", round: @current_round, guess: @guess, game: @game
